*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    max-width: auto;
    margin:  auto;
}
.container .logo .kv-text{
    color: #30b868;

}

.my-btn{

    border-radius: 4px;
background-color: #30b868;


}
header{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
}
.link-parent{
    display: flex;
    gap: 20px;
    list-style: none;
}
.link-parent a{
    text-decoration: none;
}
/* hero styling */

.hero-parent{
     margin-top: 0px;
width: 100%;
height: 1363px;
  display: flex;
  justify-content: center;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
  color: white;
  background-size: cover;
  margin: auto;
}
.hero-parent h1{
    font-family: sans-serif;
font-style: Bold;
font-size: 72px;
font-weight: 700;
color: white;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.highlight-text {
    color: #30b868;
}

{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 6;
padding: 8px 12px 8px 12px;
border-radius: 10px;
background: rgba(255, 255, 255, 1);
width: 183px;
height: 19px;
color: #30b868;

}
.hero-description{
  color: rgba(255, 255, 255, 1);

font-family: Inter;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;  
}

.button-group{
    display: flex;
    gap: 32px; ;
}
.btn-green{
    
color: white;
font-family: sans-serif;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
background-color: #30b868;
}

.btn-outline{

background-color: none;
font-family: sans-serif;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}-