*{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1350px;
    margin:  auto;
}
.container .logo .kv-text{
    color: #30b868;

}

.my-btn{

    border-radius: 4px;
background-color: #30b868;


}
header{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
}
.link-parent{
    display: flex;
    gap: 20px;
    list-style: none;
}
.link-parent a{
    text-decoration: none;
}