*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    max-width: auto;
    margin:  auto;
}
.container .logo .kv-text{
    color: #30b868;

}

.my-btn{

    border-radius: 4px;
background-color: #30b868;


}
header{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
}
.link-parent{
    display: flex;
    gap: 20px;
    list-style: none;
}
.link-parent a{
    text-decoration: none;
}
/* hero styling */

.hero-parent{
     margin-top: 0px;
width: 100%;
height: 1363px;
  display: flex;
  justify-content: center;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
  color: white;
  background-size: cover;
  margin: auto;
}
.hero-parent h1{
    font-family: sans-serif;
font-style: Bold;
font-size: 72px;
font-weight: 700;
color: white;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.highlight-text {
    color: #30b868;
}

.badge-container{



display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 6px;
font-size: medium;
padding: 8px 12px 8px 12px;
border-radius: 100px;
background: rgba(255, 255, 255, 1);
width: 500px;
height: auto;
color: #30b868;
}
.green-dot{
    width: 8px;
    height: 8px;
    background-color: #30b868;
    border-radius: 50%;
    display: inline-block;
}

}
.hero-description{
  color: rgba(255, 255, 255, 1);

font-family: Inter;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;  
}

.button-group{
    display: flex;
    gap: 32px; ;
}
.btn-green{
    
color: white;
font-family: sans-serif;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
background-color: #30b868;
}

.btn-outline{

background-color: none;
font-family: sans-serif;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600px;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.frame h1{
width: 100%;
height: auto;
display: flex;

font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
justify-content: center;
align-items: center;
text-align: center;
max-width: 1440px;
margin: 0 auto;
}

.frame p{
width: 100%;
height: auto;
display: flex;
font-weight: 400px;
font-size: 16px;

line-height: 20px;
letter-spacing: 0%;
justify-content: center;
text-align: center;
}
.note-structure-parent{
    margin: 80px auto;
    /* Frame 2087326259 */
width: 100%;
max-width: 1200px;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 20px;
padding:0 24px;


}
.note-structure-card{
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.note-structure-card img{
    background-color:  rgba(249, 85, 85, 1);
    height: 60px;
    width: 60px;
}
.note-structure-card p{
color: var(--#627382, rgba(98, 115, 130, 1));

font-family: Inter;
font-style: Regular;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
